h1 {
  margin-bottom: 20px;
}
.search-box {
  margin: 20px;
}

.header-fixo {
  position: fixed;
  top: 120px; /* para não grudar no topo total */
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem 2rem;
  z-index: 1000;
  text-align: center;
}
.temp-inline {
  display: flex;
  gap: 0.5rem; /* espaço entre Máx e Mín */
}

.previsao-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;  
  gap: 16px;
}
previsao-container svg {
  color: #0077cc;
  vertical-align: middle;
  margin-right: 5px;
}

.search-box input {
  padding: 8px;
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.search-box button {
  padding: 8px 12px;
  margin-left: 8px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

.previsao-container {
  margin-top: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.card {
  background: #f0f8ff;
  border: 1px solid #007bff;
  border-radius: 8px;
  padding: 15px;
  width: 200px;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.error {
  color: red;
  font-weight: bold;
}